body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.test{
    height: 200px;
    border: 1px solid grey;
}
/*--------------------------------H E A D E R / N A V B A R -----------------------------*/

.nav {
    border-bottom: 1px solid lightgray ;
    text-align: right;
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
}
/*___________________________________________--> logo*/
.logo{ 
    /* height: 100%; */
    width: 5%;
} 
/*___________________________________________--> m e n u */
.menu {
    margin: 0 30px 0 0 ;
    float: right;
}
.menu a {
    text-decoration: none ;
    color: grey ;
    margin: 0 10px;
    line-height: 70px;
}
span{
    color: #3E606F ;
}
a:active { color:  #3E606F; }
a:hover {color:  #3E606F;}
/*___________________________________________--> burger*/
label{
    margin: 0 40px 0 0 ;
    font-size: 26px;
    line-height: 70px;
    display: none ;
}
#toggle {
    display: none ;
}
select{
    background: transparent ;
}
/*___________________________________________--> HEDEAR IMAGE + TITRE*/
.header{
    background-image: url('images/photoAcceuil.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 700px;
    display: flex ;
}
.titre {
    /* border: 1px solid white; */
    width: 28%;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.titre_h1 h1, .sous_titre {
    font-family: 'Merriweather', serif;
    color: white;
    letter-spacing: 5px;
}
.titre_h1{
    
    display: flex ;
    justify-content: center;
    text-align: center;
}
.sous_titre{
    font-size: 20px;
    /* border: 1px solid greenyellow ; */
    text-align: center;
}
h1{
    font-size: 32pt;
    border-bottom: 1px solid white ;
    padding-bottom: 40px; 
}
/*--------------------------------SECTION 1 : BIENVENUE -----------------------------*/

.bienvenue_text{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    
}
h2{
    font-size: 25pt;
    font-family: 'Merriweather', serif;
    color: #3E606F;
    letter-spacing: 5px;
}
.bienvenue_parag{
    width: 50%;
    text-align: center;
}
/*--------------------------------SECTION 2 : LES CHAMBRES  -----------------------------*/
.bloc_chambre{
    /* border : 1px solid red ; */
    text-align: center ;

}
.chambre {
    /* border: 1px solid yellow ; */
    display: flex ;
    justify-content: space-between; 
    margin-bottom: 40px;

}
.chambre p {
   /* border: 1px solid black; */
   width: 400px;
   margin-bottom: 50px;
   text-align: center;
   letter-spacing: 3px;
   line-height: 150%;
   font-size: 16pt;
}
.chambre_titre{
    /* border: 1px solid blue ; */
    margin: 40px;
    width: 70% ;
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background-color : #FBFDFB ;
}
.chambre button{
    width: 40%;
    height: 20%;
    border-radius: 5px;
    background-color: white ;
    border: 2px solid #3E606F ;
    color: #3E606F;
    cursor: pointer;
    font-size: 15px;
    text-transform:uppercase; 
    letter-spacing: 2px;
}

.chambre a {
    text-decoration: none;
}
.Chambre_1erPartie{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    margin-bottom: 70px;
}
.bigtrait {
    border-top: 4px solid #3E606F ;
    width: 5%;
    margin-top: 35px;
    margin-bottom: 35px;
}
.Chambre_1erPartie p {
    letter-spacing: 5px ; 
}
/*--------------------------------SECTION 3 : LES SERVICES  -----------------------------*/
.Bloc_Service{
    display: flex ;
    justify-content: space-between ;
    height: 500px;
    margin-top: 250px;
}
.Service_1erPartie{
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    /* border : 1px solid brown ; */
    text-align: center ;
    width: 400px;
    background-color:  #FBFDFB;
    margin-left: 50px;
}
.Serv_Seminaire , .Serv_resto, .Serv_spa{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: initial;
    background-size: cover;
    background-color: #464646;
    width: 300px;
    height: 100%;
}
.Serv_Seminaire{
    background-image: url(/images/img_seminaire.jpg);    
}
.Serv_resto{
    background-image: url(/images/img_resto.jpg);   
}
.Serv_spa{
    background-image: url(/images/img_spa.jpg);  
}
.serv_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 110%;
    background: #FFF ;
    opacity: 0;
    line-height: 40px;
    
}
.Serv_Seminaire:hover .serv_txt {
    opacity: 0.6;
    text-align: center;
    color: black ;
}
.Serv_resto:hover .serv_txt {
    opacity: 0.6;
    text-align: center;
    color: black ;
}
.Serv_spa:hover .serv_txt {
    opacity: 0.6;
    text-align: center;
    color: black ;
}
/*--------------------------------M A P  -----------------------------*/
.bloc_map{
    /* border: 1px solid black ; */
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    background-color:  #FBFDFB;
    
}
.map_adress{
    /* border: 1px solid black ;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 50%;
}
/*--------------------------------F O O T E R -----------------------------*/
.Reseau_Sociaux{
    /* border: 2px solid greenyellow; */
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;

}
.FBook , .Twitter , .Youtube , .Insta {
    /* border: 1px solid greenyellow; */
    height: 150px;
    width: 40% ;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #3E606F;
}
.Reseau_Sociaux img {
    padding: 20px;
    border: 2px solid #FBFDFB;
    margin-top: 25px;
}
.Reseau_Sociaux p {
    /* color:  #FBFDFB; */
}
.Twitter , .Insta {
    background-color: #35525f;
}
/*___________________________________________--> bloc gauche */
.bloc_Footer {
    height: 300px;
    width: 100% ;
    background-color : #1a282e;
    display: flex;
}
.blocGauche_footer , .blocDroite_footer {
    /* border : 1px solid white ; */
    width: 50%;
    height: 100%;
    display: flex ;
}
.blocDroite_footer{
    align-content: center ;
    justify-content: center
}
.Logo_Footer, .menu_Footer, .titre_F{
    /* border : 1px solid blue ; */
    width: 30%;
    height: 70%;
    margin-top: 40px;
    display: flex ;
    flex-direction: column;
    align-content: center;

}
.menu_F li a {
    text-decoration: none ;
    color : white ;
    line-height: 30px;
}
.h1-F , .h2-F{
    font-family: 'Merriweather', serif;
    color: white;
    letter-spacing: 5px;
    text-align: center;
}
.h2-F{
   letter-spacing: 3px;
   font-size: 10px;
}
/*___________________________________________--> bloc droit */
.New_letter{
    /* border: 1px solid blue ; */
    width: 80%;
    height: 30%;
    display: flex ;
    flex-direction: column;
    align-content: center;
    text-align: right;
    color: white;

}






/*--!!!!!!!!!!!!!!!!!!!!!!!!!!---M E D I A  Q U E R I E S --!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!--*/

@media screen and (max-width : 500px){
   
 /*______________________________NAV BAR */  
    label {
        display: block ;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none ;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid lightgray ;
        margin: 0;
        position: relative;
        background-color: white;

    }
    #toggle:checked + .menu {
        display: block;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
    a:active { color:  #3E606F; }
    a:hover {color:  #3E606F;}
 /*______________________________ HEADER TITRE + Image */ 
  .header img {
      height: 100%;
  }   
  .header {
      height: 250px;;
  }  
  h1{
    font-size: 20px;
    padding-bottom: 20px; 
  }
  .sous_titre{
    font-size: 10px;
  }
  .titre{
    width: 100%
  }
 /*-----------------------------SECTION 1 : BIENVENUE ------------*/

h2{
    font-size: 20px;
}
.bienvenue_parag{
    /* display: none; */
    border: 1px solid red ;
    width: 80%;
    height: 2%;
    visibility: hidden;
   }
.bienvenue_text{
    height: 100px;
}  
/*----------------------------SECTION 2 : LES CHAMBRES  ---------*/ 
.chambre_titre{
    width:30% ;  
}
.chambre_titre h2 {
    font-size: 70%;
    letter-spacing: 0px;
}
.chambre_titre button {
        width: 95%;
        height: 40%;
        font-size: 60% ;
}
/*--------------------------------SECTION 3 : LES SERVICES  -----------------------------*/
.Bloc_Service{
    width: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 50px;
}
.Service_1erPartie{
    margin: 0px;
    width: 100%
}
.Serv_Seminaire , .Serv_resto ,.Serv_spa {
    height: 20%;
    width: 100%;
    background-image: none ;
    background-color: #3E606F;
    
}
.Serv_Seminaire{
    background-image: url(/images/SERVICES/SEMINAIRE.png) ;
}
.Serv_resto{
    background-image: url(/images/SERVICES/RESTORANT.png) ;
}
.Serv_spa{
    background-image: url(/images/SERVICES/SPA.png) ;
}
.serv_txt{
    display: none;
}
/*--------------------------------SECTION 4 : MAP  -----------------------------*/
/*___________________________________________--> RSociaux*/
.bloc_map{
    flex-direction: column;
    text-align: center;
}
.google_map iframe {
    width: 50%;
    height: 50%;
}
.map_adress{
    text-align: center;
    justify-content: center;
    width: 100%;
}
/*___________________________________________--> footer 2part*/
}

.titre_ch , .titre_h1ch{
    color: #3E606F;
    text-align: center;
    font-family: 'Merriweather', serif;
}